files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_config_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/elasticbeanstalk/support/envvars
      echo "Set Laravel key:generate"
      cd /var/app/current
      php artisan key:generate
      echo "Running php artisan config:cache"
      cd /var/app/current
      php artisan config:cache
      echo "Finished php artisan config:cache"