  files:
      "/etc/php.d/99uploadsize.ini":
          mode: "000644"
          owner: root
          group: root
          content: |
              upload_max_filesize = 100M
              post_max_size = 100M
  commands:
      remove_old_ini:
          command: "rm -f /etc/php.d/99uploadsize.ini.bak"