container_commands:
  01express:
    command: "echo Starting siscof configuration..."  
  02_laravel_passport:
      command: "php artisan passport:install >>/var/log/siscof_laravel_artisan_passport.log"
      cwd: "/var/app/ondeck"
  03express:
    command: "echo Laravel Passport Installed, processing..."
  04express:
    command: "echo Starting Siscof Commands..."
  05stone:
    command: "php artisan stone:cron"
    cwd: "/var/app/ondeck"
  06express:
    command: "echo Stone - Monitoring..."
  07phoebus:
    command: "php artisan phoebus:cron"
    cwd: "/var/app/ondeck"
  08express:
    command: "echo Phoebus - Monitoring..."  